


.header {
    background-color: black;
    color: white;
    padding: 1px;
    display: flex;
    align-items: center;
  }

  .header img {
    height: 40px;
    margin-right: 10px;
  }

  .header h1 {
    font-size: 20px;
    margin: 0;
  }


 

  .content {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content-text {
    padding: 20px;
    flex: 1;
  }

  .content-text h2 {
    font-size: 24px;
    margin-top: 0;
  }

  .content-text p {
    font-size: 16px;
    color: black;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
  }

  .btn:hover {
    background-color: black;
  }


  

  .padre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
  }

  .hijo1 {
    display: flex;
    align-items: center;
    
  }

   .padre-2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-decoration: none;
   }

  .hijo-2{
    background-color: black;
    color: white;
    text-decoration: none;
    
  }

  .recycle{
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .etiqueta{
    display: flex;
    margin: 5px;
  }
  .etiqueta img{
    width: 80px;
    height: 80px;
  }
  .final{
    text-align: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }


  .div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0% 1%;
   
   }
   .LUI{
       
       display: flex;
       list-style: none;
       justify-content: space-evenly;
       align-items: center;
   
   }
   
   li{
       padding: 20px 10px;
   }
   
   .boton{
   
       background-color: aqua;
       color: white;
       text-align: right;
       
   
   }
   .perfil{
   
       color: rgb(255, 255, 255) ;
       background-color: black;
       display: flex;
       
   }
   
   .casa{
   
   color: white;
   text-decoration: none;
   
   }
   
   .miperfil{
   
       color: white;
       text-decoration: none;
   }
   
   .conexion{
   
       color: white ;
       text-decoration: none ;
   
   }

   .conctact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
  }
  .conctact-form form {
    max-width: 500em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
  }
  .conctact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .conctact-form form .input-box input,
  .conctact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    
    border-radius: 0.8rem;
    margin: 1rem 0;
  }
  .imput-box{
    background-color: black;
    color: white;
  }